:root {
    --background: 182 100% 5%;
    --background-dark: 182 100% 3%;
    --background-light: 182 75.92% 7.87%;
    --backdrop: 0 0% 33.33% / 10.98%;
    --foreground: 0 0% 100%;
    --foreground-dark: 181 7.89% 50.91%;
    --foreground-light: 0 0% 86.76%;
    --primary: 183 100% 21%;
    --primary-light: 183 100% 35%;
    --primary-light-hover: 183 100% 40%;
    --primary-dark: 181 100% 10%;
    --border: 183 100% 35%;
    --highlight: 43 100% 47%;
    --highlight-dark: 43 100% 40%;
    --highlight-light: 43 100% 57%;
    --destructive: 0 60% 40%;
    --success:  120 34% 38%;
    --radius: 1em;

    --grid-page-padding: 1.8rem;
    --portal-gap: 2.5em;
    --global-page-padding: 80px;

    @media screen and (max-width: 800px) {
        --grid-page-padding: 1rem;
        --global-page-padding: 40px;
    }
}