:root {
    --grid-page-padding: 2rem;
    --background: 182 100% 5%;
    --background-dark: 182 100% 3%;
    --background-light: 182 75.92% 7.87%;
    --foreground: 0 0% 100%;
    --foreground-dark: 181 7.89% 50.91%;
    --primary: 183 100% 21%;
    --primary-light: 183 100% 35%;
    --primary-dark: 181 100% 10%;
    --border: 183 100% 35%;
    --highlight: 43 100% 47%;
    --radius: 1em;
}