<footer>
    <div class="container">
        <section class="footer">
            <div class="footer__credits">
                <span>Designed and developed by <a href="https://github.com/edumoreiira" target="_blank">Eduardo Moreira</a></span>
            </div>
            <div class="footer__info">
                <ul class="footer__socials">
                    <li class="footer__socials__item">
                        <a href="https://www.instagram.com/brasilexperienceliferpg/" target="_blank">
                            <i class="fi fi-brands-instagram"></i>
                        </a>
                    </li>
                    <li class="footer__socials__item">
                        <a href="https://www.discord.gg/PFwAEWwpW7" target="_blank">
                            <i class="fi fi-brands-discord"></i>
                        </a>
                    </li>
                    <li class="footer__socials__item">
                        <a href="https://www.youtube.com/@BrasilExperienceLife" target="_blank">
                            <i class="fi fi-brands-youtube"></i>
                        </a>
                    </li>
                    <li class="footer__socials__item">
                        <a href="https://facebook.com/brasilexperienceliferpg" target="_blank">
                            <i class="fi fi-brands-facebook"></i>
                        </a>
                    </li>
                </ul>
                <span class="footer__copyright">
                    2021 Brasil Experience Life ©
                </span>
            </div>
        </section>
    </div>
</footer>