@if(showLoginModal) {
    <app-login-modal (onCloseLoginModal)="closeLoginModal()" @parentAnimation/>
}
<nav class="container nav">
    <div class="nav__logo" routerLink="/">
        <img src="/assets/logo/exp-stroke-white.png" alt="" srcset="">
    </div>
    <div #nav_items_wrapper class="nav__items-wrapper">
        <i class="fi fi-br-menu-burger nav__burger" (click)="handleNavBar(nav_items_wrapper)"></i>
        <ul class="nav__items">
            <li class="nav__item">
                <a class="nav__link underline-animation" routerLink="/"
                [ngClass]="{'underline-animation--active': validateCurrentRoute('home')}">Home</a>
            </li>
            <li class="nav__item">
                <a class="nav__link underline-animation" routerLink="/rank"
                [ngClass]="{'underline-animation--active': validateCurrentRoute('rank')}">Rank</a>
            </li>
            <li class="nav__item nav__item__discord">
                <a class="nav__link underline-animation" href="https://www.discord.gg/PFwAEWwpW7" target="_blank">Discord</a>
            </li>
            <li class="nav__item">
                <a class="nav__link underline-animation" (click)="openLoginModal()">UCP</a>
            </li>
            <li class="nav__item">
                <a class="nav__link">
                    <button gradient-button class="nav__button" 
                    group="highlight" routerLink="/comprar-moedas">Comprar Moedas</button>
                </a>
            </li>
        </ul>
    </div>
</nav>