@if (showLoginModal) {
    <app-modal (onCloseModal)="closeLoginModal()" minWidth="22em" @parentAnimation>
        <div class="login-modal__content">
            <h1>UCP</h1>
            <form class="login-modal__form"  [formGroup]="loginForm">
                <app-input class="login-modal__input"
                    [placeholder]="'Usuário'"
                    [type]="'text'"
                    formControlName="username"
                >
                </app-input>
                <app-input class="login-modal__input"
                    [placeholder]="'Senha'"
                    [type]="'password'"
                    formControlName="password"
                ></app-input>
    
                <div class="login-modal__control">
                    <button type="submit" class="login-modal__submit-btn"
                    [disabled]="!loginForm.valid" (click)="login()"
                    >Entrar</button>
                    <a href="#" class="login-modal__forgot-password-btn underline-animation">Esqueci minha senha</a>
                </div>
    
            </form>
        </div>
    </app-modal>
}