<div class="purchase">
    <form class="purchase__form" [formGroup]="purchaseForm">
        @if(step === 1) {
            <div class="purchase__form__section" @slideUpDown>
                <h2>Insira o nome da sua conta no nosso servidor.</h2>
                <app-input class="purchase__form__section__input"
                placeholder="Nome da conta"
                formControlName="accountName"
                >
                @if(getForm('accountName')?.errors?.['required']) {
                    <small class="purchase__form__section__error">O nome da conta é obrigatório</small>
                } @else if(getForm('accountName')?.errors?.['minlength']) {
                    <small class="purchase__form__section__error">O nome da conta deve ter no mínimo 3 caracteres</small>
                } @else if(getForm('accountName')?.errors?.['maxlength']) {
                    <small class="purchase__form__section__error">O nome da conta deve ter no máximo 20 caracteres</small>
                }
                
                </app-input>
                <div class="purchase__form__section__control purchase__form__section__control--left">
                    <button gradient-button class="purchase__form__section__button" type="submit"
                    (click)="checkFirstStep()" [disabled]="!firstStepValid()">Continuar</button>
                </div>
            </div>

        } @else if (step === 2) {
            <div class="purchase__form__section" @slideUpDown>
                <h2>Insira o valor da compra de moedas verdes.</h2>
                <div class="purchase__form__section__price">
                    <app-input  class="purchase__form__section__input"
                    placeholder="Valor da compra" prefix="R$ " suffix=",00" type="tel" mask="separator.0"
                    name="valueToPay" type="tel"
                    formControlName="purchaseAmount"
                >
                @if(getForm('purchaseAmount')?.errors?.['required']) {
                    <small class="purchase__form__section__error">O valor da compra é obrigatório</small>
                } @else if(getForm('purchaseAmount')?.errors?.['minLimitExceeded']) {
                    <small class="purchase__form__section__error">O valor da compra deve ser maior ou igual a R$ 10,00</small>
                } @else if(getForm('purchaseAmount')?.errors?.['maxLimitExceeded']) {
                    <small class="purchase__form__section__error">O valor da compra deve ser menor que R$ 1000,00</small>
                }
                </app-input>
                    <div (click)="test('purchaseAmount')" class="purchase__form__section__coins">
                        <h4>{{calculateCoins() | thousandSeparator}}</h4>
                        <span>MV</span>
                    </div>
                </div>
                <div class="purchase__form__section__coupon">
                    <app-input  class="purchase__form__section__input"placeholder="Cupom" type="text" 
                    formControlName="coupon"
                    />
                    <button gradient-button class="purchase__form__section__coupon__button"
                    type="button">Ativar cupom</button>
                </div>
                <div class="purchase__form__section__control">
                    <button gradient-button class="purchase__form__section__button purchase__form__section__button--back" 
                    type="button" group="secondary" (click)="goToPreviousStep()">Voltar</button>
                    <button gradient-button class="purchase__form__section__button" type="submit"
                    (click)="checkSecondStep()" [disabled]="!secondStepValid()">Continuar</button>
                </div>
            </div>
        } @else if(step === 3) {
            
            <div class="purchase__form__section purchase__form__section--personal" @slideUpDown>
                <div class="purchase__form__section__header">
                    <h2>Preencha os campos com suas informações.</h2>
                    <p>Por favor, utilize informações verdadeiras ao preencher seus dados. Isso é essencial para garantir a
                         segurança e a entrega correta do seu pedido.</p>
                </div>
                    <app-input  class="purchase__form__section__input purchase__form__section__input--expanded"
                    placeholder="Nome Completo" type="text"
                    formControlName="customerName"
                    />
                    <app-input  class="purchase__form__section__input"
                    placeholder="CPF" type="tel" mask="000.000.000-00"
                    formControlName="customerCpf"
                    />
                    <app-input  class="purchase__form__section__input"
                    placeholder="Telefone" type="tel" mask="(00) 00000-0000"
                    formControlName="customerPhone"
                    />
                    <app-input  class="purchase__form__section__input purchase__form__section__input--expanded"
                    placeholder="Email" type="email"
                    formControlName="customerEmail"
                    />
                <div class="purchase__form__section__control">
                    <button gradient-button class="purchase__form__section__button purchase__form__section__button--back" 
                    type="button" group="secondary" (click)="goToPreviousStep()">Voltar</button>
                    <button gradient-button class="purchase__form__section__button" type="submit"
                    (click)="finishPurchase()" [disabled]="!purchaseForm.valid">Finalizar</button>
                </div>
            </div>

        }

        



    </form>
</div>