<div class="purchase">
    <form class="purchase__form" [formGroup]="purchaseForm">
        @if(step === 1) {
            <div class="purchase__form__section" @slideUpDown>
                <h2>Insira o nome da sua conta no nosso servidor.</h2>
                <app-input class="purchase__form__section__input"
                placeholder="Nome da conta"
                formControlName="accountName"
                
                />
                <!-- <input type="text" formControlName="accountName"> -->
                <button gradient-button class="purchase__form__section__button" type="submit"
                (click)="checkFirstStep()" [disabled]="!getForm('accountName')?.valid">Continuar</button>
            </div>

        } @else if (step === 2) {
            <div class="purchase__form__section" @slideUpDown>
                <h2>Insira o valor da compra de moedas verdes.</h2>
                <div class="purchase__form__section__price">
                    <app-input  class="purchase__form__section__input"
                    placeholder="Valor da compra" prefix="R$ " suffix=",00" type="tel" mask="separator.2"
                    name="valueToPay"
                    formControlName="purchaseAmount"
                    />
                    <div class="purchase__form__section__coins">
                        <h4>{{calculateCoins() | thousandSeparator}}</h4>
                        <span>MV</span>
                    </div>
                </div>
                <div class="purchase__form__section__control">
                    <button gradient-button class="purchase__form__section__button purchase__form__section__button--back" 
                    type="button" group="secondary" (click)="goToPreviousStep()">Voltar</button>
                    <button gradient-button class="purchase__form__section__button" type="submit"
                    (click)="goToNextStep()">Continuar</button>
                </div>
            </div>
        } @else if(step === 3) {
            
            <div class="purchase__form__section purchase__form__section--personal" @slideUpDown>
                <div class="purchase__form__section__header">
                    <h2>Preencha os campos com suas informações.</h2>
                    <p>Por favor, utilize informações verdadeiras ao preencher seus dados. Isso é essencial para garantir a
                         segurança e a entrega correta do seu pedido.</p>
                </div>
                    <app-input  class="purchase__form__section__input purchase__form__section__input--expanded"
                    placeholder="Nome Completo" type="text"
                    formControlName="customerName"
                    />
                    <app-input  class="purchase__form__section__input"
                    placeholder="CPF" type="tel" mask="000.000.000-00"
                    formControlName="customerCpf"
                    />
                    <app-input  class="purchase__form__section__input"
                    placeholder="Telefone" type="tel" mask="(00) 00000-0000"
                    formControlName="customerPhone"
                    />
                    <app-input  class="purchase__form__section__input purchase__form__section__input--expanded"
                    placeholder="Email" type="email"
                    formControlName="customerEmail"
                    />
                <div class="purchase__form__section__control">
                    <button gradient-button class="purchase__form__section__button purchase__form__section__button--back" 
                    type="button" group="secondary" (click)="goToPreviousStep()">Voltar</button>
                    <button gradient-button class="purchase__form__section__button" type="submit"
                    (click)="finishPurchase()" [disabled]="!purchaseForm.valid">Finalizar</button>
                </div>
            </div>

        }

        



    </form>
</div>