<div class="purchase">
    <form class="purchase__form">
        @if(true) {
            <div class="purchase__form__section">
                <h2>Insira o nome da sua conta no nosso servidor.</h2>
                <app-input class="purchase__form__section__input"
                placeholder="Nome da conta"
                />
                <button gradient-button class="purchase__form__section__button" type="button">Continuar</button>
            </div>
        }

        <div class="purchase__form__section">
            <h2>Insira o valor da compra de moedas verdes.</h2>
            <div class="purchase__form__section__price">
                <input #valueToPay class="purchase__form__section__custom-input" placeholder="Valor a pagar" type="text"
                mask="separator.2" prefix="R$ " suffix=",00" [dropSpecialCharacters]="true"/>
                <div class="purchase__form__section__coins">
                    <h4>{{calculateCoins(valueToPay.value)}}</h4>
                    <span>MV</span>
                </div>
            </div>
            <button gradient-button class="purchase__form__section__button" type="button">Continuar</button>
        </div>


    </form>
</div>