.purchase {
    background-color: hsl(var(--background));
    padding: 2em;
    border-radius: var(--radius);
    overflow: hidden;
    &__form {
        &__section {
            display: flex;
            flex-direction: column;
            gap: 1.5em;
            &--personal {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
            }

            &__header {
                grid-column: span 2;
                h2 {
                    margin-bottom: .3em;
                }
                p {
                    color: hsl(var(--foreground-dark));
                }
            }

            &__input {
                font-size: 1.4em;
                flex-grow: 1;
                &--expanded {
                    grid-column: span 2;
                }
            }

            &__control {
                display: flex;
                justify-content: space-between;
                grid-column: span 2;
                // margin-top: 1em;
                &--right {
                    justify-content: end;
                }
            }

            &__button {
                align-self: end;
                &--back {
                    width: min(9em, 100%);
                }
            }

            &__price {
                display: flex;
                gap: 1em;
                &__coins {
                   font-size: .8em;
                   max-width: 7.5em;
                   gap: .2em;
                   overflow: hidden;
                   font-style: italic;
                   display: flex;
                   justify-content: center;
                }
            }

            &__coupon-btn {
                font-size: .9em;
                background-color: transparent;
                border: none;
                margin-left: .5em;
                color: hsl(var(--primary-light));
                transition: all 150ms ease-in-out;
                &:hover {
                    text-decoration: underline;
                    color: hsl(var(--primary-light-hover));
                }
            }

            &__coupon {
                display: flex;
                gap: 1em;
                &__button {
                    font-size: .9em;
                    width: min(10em, 100%);
                    text-wrap: nowrap;
                }

                .purchase__form__section__input {
                    font-size: 1.2em;
                }
            }
            &__error {
                position: absolute;
                font-size: .8em;
                right: 0;
                bottom: 0;
                transform: translateY(calc(100% + .4em));
                z-index: 1;
            }

            &__player {
                display: flex;
                flex-direction: column;
                gap: 1em;
                margin-top: 1em;
                &__info {
                    background-color: hsl(var(--background-light));
                    padding: 1em;
                    border-radius: var(--radius);
                    &__item {
                        span:first-child {
                            font-weight: 700;
                            margin-right: .5em;
                            font-size: 1.1em;
                        }
                    }
                }
            }
        }
    }
    &__success {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        &__header {
            h2 {
                margin-bottom: .3em;
            }
        }
        &__purchase {
            border-top: 1px solid hsl(var(--foreground-dark) / 0.1);
            padding-top: 1em;
            font-size: 1.2em;

            h3 {
                margin-bottom: .5em;
            }

            span {
                font-weight: 300;
            }
        }
        &__qrcode {
            margin: 0 auto;
            aspect-ratio: 1/1;
            width: min(14em, 100%);
            border: 5px solid hsl(var(--primary-light));
            border-radius: var(--radius);
            overflow: hidden;
            img {
                display: block;
            }
        }
        &__copy-link {
            border: 1px solid hsl(var(--primary-light));
            border-radius: calc(var(--radius) / 1.3);
            padding: .5em 1em;
            max-width: 100%;
            // max-width: calc(100% - 10em);
            margin: 0 auto;
        }
        &__info {
            background-color: hsl(var(--background-light));
            border-radius: var(--radius);
            padding: 1em;
            overflow: auto;
            &__item {
                span:first-child {
                    font-weight: 700;
                    margin-right: .5em;
                    font-size: 1.1em;
                }
            }
        }
    }
}
