
    <article class="player player__main">
        <div class="player__header">
            <div class="player__picture">
                <img class="player__picture__img" [src]="'https://assets.open.mp/assets/images/skins/' + skin + '.png'" alt="Foto do personagem">
            </div>
            <div class="player__info">
                <div class="player__info__name">
                    <h2>Jeckwilke_Moreira</h2>
                </div>
                <div class="player__info__progress">
                    <div class="player__info__progress__level">
                        <app-circle-progress-bar
                        title="Nível"
                        insideText="37"
                        [values]="[27, 100]"
                        />
                    </div>
                    <div class="player__info__progress__box">
                        <app-circle-progress-bar
                        title="BEL"
                        insideText="144"
                        [values]="[84, 144]"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="player__stats">
            <div class="player__stats__item player__stats__item__money">
                <div class="player__stats__item__icon player__stats__item__money__icon">
                    <label style="mask-image: url('./assets/icons/stats-icons/piggy-bank.png');
                -webkit-mask-image: url('./assets/icons/stats-icons/piggy-bank.png');"></label>
                    <span class="player__stats__item__icon__bkg"
                        style="background-image: url('./assets/icons/stats-icons/piggy-bank.png');"></span>
                </div>
                <div class="player__stats__item__value player__stats__item__money__value">
                    <span>$1257367</span>
                </div>
            </div>
            <div class="player__stats__item player__stats__item__kills">
                <div class="player__stats__item__icon player__stats__item__kills__icon">
                    <label style="mask-image: url('./assets/icons/stats-icons/crosshair.png');
                -webkit-mask-image: url('./assets/icons/stats-icons/crosshair.png');"></label>
                    <span class="player__stats__item__icon__bkg"
                        style="background-image: url('./assets/icons/stats-icons/crosshair.png');"></span>
                </div>
                <div class="player__stats__item__value player__stats__item__kills__value">
                    <span>1241056</span>
                </div>
            </div>
            <div class="player__stats__item player__stats__item__deaths">
                <div class="player__stats__item__icon player__stats__item__deaths__icon">
                    <label style="mask-image: url('./assets/icons/stats-icons/skull.png');
                -webkit-mask-image: url('./assets/icons/stats-icons/skull.png');"></label>
                    <span class="player__stats__item__icon__bkg"
                        style="background-image: url('./assets/icons/stats-icons/skull.png');"></span>
                </div>
                <div class="player__stats__item__value player__stats__item__deaths__value">
                    <span>541</span>
                </div>
            </div>
        </div>
    </article>


    <article class="player player__premium">
        <div class="player__stats">
            <div class="player__stats__item player__stats__item--reduced
             player__stats__item__account-status">
                <h2 class="player__stats__item__account-status__title
                player__stats__item__account-status__title--super-vip">Super-Vip</h2>
                <p class="player__stats__item__account-status__description">Expira em: <b>18 DEZ 2024</b></p>
            </div>
            <div class="player__stats__item player__stats__item--reduced 
            player__stats__item__golden-bars">
                <h2 class="player__stats__item__golden-bars__title">Golden Bars</h2>
                <p class="player__stats__item__golden-bars__description">24</p>
            </div>
            <div class="player__stats__item player__stats__item--reduced 
            player__stats__item__moedas-verdes">
                <h2 class="player__stats__item__moedas-verdes__title">Moedas Verde</h2>
                <p class="player__stats__item__moedas-verdes__description">105600</p>
            </div>
        </div>
    </article>


    <article class="player player__others">
        <div class="player__stats player__others__stats">
            @for(item of test; track item) {
                <div class="player__stats__item player__stats__item--extra-reduced">
                    <h2>Horas Jogando</h2>
                    <p>1254</p>
                </div>               
            }
        </div>
    </article>

