.ucp {
    &__container{
        display: flex;
        align-items: stretch;
        padding: var(--grid-page-padding);
        font-size: clamp(.7em, .95vw, 1.8em);
        gap: 1em;
    
    
    
        @media (max-width: 580px) {
            font-size: clamp(.4em, 2.1vw, 1em);
        }
    }

} 