
.ucp {
    &__container{
        display: flex;
        align-items: stretch;
        padding: var(--grid-page-padding);
        font-size: clamp(.85em, .95vw, 1.8em);
        gap: var(--grid-page-padding);
    
    
        @media (max-width: 580px) {
            font-size: clamp(.77em, 2.1vw, 1em);
        }
    }

    &__content {
        display: inline-block;
        width: 100%;
        padding-left: clamp(250px, 17.6em, 370px); //sidebar width
        transition: all 150ms ease-in-out;
    }
}

@media screen and (max-width: 740px) {
    .ucp {
        .ucp__content {
            padding-left: 60px;
        }
    }

}