:host {
    background-color: transparent;
    width: min(200px, 100%);
    color: hsl(var(--foreground));
    border-radius: 1em;
    font-size: 1em;
    font-weight: 600;
    padding: .75em 1.25em;
    border: 1px solid hsl(var(--primary));
    transition: all 150ms ease-in-out;
    cursor: pointer;
    background: linear-gradient(to left, hsl(var(--background-dark)), hsl(var(--primary)/.2) 100%);
    &:hover:not(:disabled, &.highlight) {
        backdrop-filter: saturate(500%);
    }
    &:disabled {
        background: transparent;
        border-color: hsl(var(--primary-dark) / .5);
        color: hsl(var(--foreground) / .25);
        cursor: default;
    }

    &.secondary {
        border-color: hsl(var(--foreground-dark));
        background: linear-gradient(to left, hsl(var(--background-dark)), hsl(var(--foreground-dark)/.2) 100%);
    }
    &.highlight {
        border-color: hsl(var(--highlight-dark));
        background: linear-gradient(to left, hsl(var(--highlight-dark) / .05), hsl(var(--highlight)/.2));
        &:hover {
            background: linear-gradient(to left, hsl(var(--highlight-dark) / .08), hsl(var(--highlight)/.25));
        }
    }
}