<app-login-modal (closeModal)="closeLoginModal()" *ngIf="isLoginModalOpen" @parentAnimation/>
<nav class="container nav">
    <div class="nav__logo">LOGO</div>
    <div #nav_items_wrapper class="nav__items-wrapper">
        <i class="fi fi-br-menu-burger nav__burger" (click)="handleNavBar(nav_items_wrapper)"></i>
        <ul class="nav__items">
            <li class="nav__item">
                <a class="nav__link" href="https://brasilexperiencelife.forumeiros.com/" target="_blank">Fórum</a>
            </li>
            <li class="nav__item nav__item__discord">
                <a class="nav__link" href="https://www.discord.gg/PFwAEWwpW7" target="_blank">Discord</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" (click)="openLoginModal()">Minha Conta</a>
            </li>
            <li class="nav__item"><a class="nav__link" href="#">
                <button app-button class="nav__button" 
                style="background-image: url('./assets/icons/button-icons/dollar.png')">Comprar Moedas</button>
            </a></li>
        </ul>
    </div>
</nav>

<div class="page">
    <main class="container">
        <header class="header">
            <h1 class="header__title">
                Venha construir esse novo mundo com a gente!
            </h1>
            <p class="header__description">
                Participe da comunidade Experiece Life, um ambiente prático e dinâmico
                que proporcionará a você uma experiência inesquecível!
            </p>
        </header>
        @if(serverInfo$ | async; as server) {
            <section class="server-card">
                <h3 class="server-card__title">{{server.name}}</h3>
                <div class="server-card__info">
                    <div class="server-card__info__players-counter">
                        <span>{{server.playersOnline}}/{{server.maxPlayers}}</span>
                    </div>
                    <div class="server-card__info__ip-address">
                        <span>ip.brasilexperiencelife.com</span>
                        <i class="fi fi-rr-copy server-card__info__ip-address__copy"
                        [cdkCopyToClipboard]="'ip.brasilexperiencelife.com'" (click)="handleCopyIp()">
                        </i>
                        @if (copied) {
                            <div class="server-card__info__ip-address__copied-card" @slide>
                                <span>Copiado!</span>
                            </div>
                        }
                    </div>
                </div>
            </section>
        } 
    </main>
    <section class="rank">
        <div class="container">
            <h1 class="rank__title">Rank</h1>
            <div #slider_wrapper class="rank__slider__wrapper">
                <div #slider class="rank__slider">
                    <app-card
                        #slider_card
                        class="rank__slider__card"
                        [title]="'Kills'"
                        [playerName]="'Laranjinha_Acerola'"
                        [info]="'15964'"
                        urlImage="/assets/cards/kills.png"
                    >
                    </app-card>
                    <app-card
                        #slider_card
                        class="rank__slider__card"
                        [title]="'Nivel'"
                        [playerName]="'CuustelaVGS'"
                        [info]="'1223'"
                        urlImage="/assets/cards/nivel.png"
                    >
                    </app-card>
                    <app-card
                        #slider_card
                        class="rank__slider__card"
                        [title]="'Horas Jogadas'"
                        [playerName]="'Hudson_Vgs'"
                        [info]="'17474'"
                        urlImage="/assets/cards/horas.png"
                    >
                    </app-card>
                    <app-card
                        #slider_card
                        class="rank__slider__card"
                        [title]="'Dinheiro'"
                        [playerName]="'Mizael_xD'"
                        [info]="'1708804364'"
                        urlImage="/assets/cards/dinheiro.png"
                    >
                    </app-card>
                    <app-card
                        #slider_card
                        class="rank__slider__card"
                        [title]="'Crimes Cometidos'"
                        [playerName]="'Laranjinha_Acerola'"
                        [info]="'616'"
                        urlImage="/assets/cards/crimes.png"
                    >
                    </app-card>
                </div>
            </div>
        </div>
    </section>
</div>



<app-footer></app-footer>
