<nav class="container nav">
    <div class="nav__logo">LOGO</div>
    <ul class="nav__items">
        <li class="nav__item"><a class="nav__link" href="#">Fórum</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Discord</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Minha Conta</a></li>
        <li class="nav__item"><a class="nav__link" href="#">
            <button app-button class="nav__button">Comprar Moedas</button>
        </a></li>
    </ul>
</nav>

<main class="container">
    <header class="header">
        <h1 class="header__title">
            Venha construir esse novo mundo com a gente!
        </h1>
        <p class="header__description">
            Participe da comunidade Experiece Life, um ambiente prático e dinâmico
            que proporcionará a você uma experiência inesquecível!
        </p>
    </header>
    <section class="server-card">
        <h3 class="server-card__title">Brasil Experience Life (Android/PC)</h3>
        <div class="server-card__info">
            <div class="server-card__info__players-counter">
                <span>25/100</span>
            </div>
            <div class="server-card__info__ip-address">
                <span>ip.brasilexperiencelife.com</span>
                <i class="fi fi-rr-copy server-card__info__ip-address__copy"></i>
            </div>
        </div>
    </section>
</main>
