:host {
    * {
        --table-data-background: var(--background-dark) / .6;
        --table-data-highlight: var(--background) / .9;
        --table-footer-loadmore-fade-color: var(--background);
    }
}

//view-more modal
.view-more {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}