:host {
    width: clamp(250px, 15.6em, 400px);
    z-index: 1000;
    flex-shrink: 0;
    font-size: .9rem;
    @media (max-width: 740px) {
        width: 46px;
    }
}
$padding: 1em;
$option-padding: .7em;

.sidebar__wrapper > :not(.sidebar__nav) {
    padding-left: $padding;
    padding-right: $padding;
}

.sidebar {
    position: sticky;
    padding: 1em; //global padding
    top: var(--grid-page-padding);
    height: calc(100svh - calc(2 * var(--grid-page-padding)));
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: var(--radius);
    background-color: hsl(var(--background));
    gap: 1.5em;
    z-index: 1;
    transition: all 150ms ease-in-out;

    &__header {
        margin-bottom: 2em;
    }

    &__nav {
        display: block;
        
        &__item {
            display: block;
            position: relative;
            padding: $padding;
            padding-bottom: $option-padding;
            padding-top: 0;
            &:not(:nth-last-child(1)) {
                margin-bottom: .5em;
            }

            &__option { // anchor
                display: flex;
                align-items: center;
                gap: .5em;
                border-radius: var(--radius);
                transition: all 150ms ease-in-out;
                cursor: pointer;
                color: hsl(var(--foreground-dark));
                text-decoration: none;
                padding-block: $option-padding;
                margin-inline: -$padding;
                padding-inline: $padding;
                
                &:hover {
                    background-color: hsl(var(--background-light));
                    color: hsl(var(--text));
                }
                &:active {
                    background-color: hsl(var(--primary-dark));
                }
                
                &__icon {
                    font-size: 1.3em;
                    display: flex;
                }
                &__title {
                    font-weight: 500;
                    font-size: 1em;
                }
                &--selected {
                    color: hsl(var(--foreground));
                }

                &--expanded {
                    :after {
                        content: '';
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        top: 0;
                        background-color: hsl(var(--background-light));
                        pointer-events: none;
                        border-radius: var(--radius);
                        z-index: -1;
                    }
                }

                &--expanded + .sidebar__nav__content {
                    visibility: visible;
                    //animations
                    opacity: 1;
                    transition: all 150ms ease-in-out;
                }
            }
            &__sub-option {
                color: hsl(var(--foreground-dark));
                text-decoration: none;
                cursor: pointer;
                transition: all 150ms ease-in-out;
                &:hover {
                    color: hsl(var(--foreground));
                }
            }
        }
        &__content {
            visibility: hidden;
            display: flex;
            flex-direction: column;
            gap: .5em;
            //animations
            opacity: 0;
            transition: all 150ms ease-in-out;
        }
    }
}