:host {
    --table-data-background: var(--background);
    --table-data-highlight: var(--background-light);
    --table-footer-loadmore-fade-color: var(--background-dark);
}

.rank {
    display: flex;
    flex-direction: column;
    color: hsl(var(--foreground));

    > *:not(:last-child) {
        margin-bottom: 2em;
    }

    &__header {
        text-transform: uppercase;
        text-align: center;
        font-size: 1.7em;
        h1 {
            position: relative;
            span {
                color: hsl(var(--primary-light));
            }
            
        }
    }

    &__options {
        display: grid;
        gap: 2em;
        grid-template-columns: auto;
        justify-content: center;
    }

    &__period {
        justify-self: stretch;
        display: inline-flex;
        flex-wrap: wrap;
        gap: 2em;
        align-items: center;

        &__item {
            min-width: fit-content;
            flex: 1;
            font-size: 1em;
            padding: .75em 1.25em;
            border: 1px solid hsl(var(--primary));
            background-color: transparent;
            color: var(--foreground);
            border-radius: var(--radius);
            transition: 150ms ease-in-out;

            &:hover:not(&--active) {
                background-color: hsl(var(--primary) / .1);
                border-color: hsl(var(--primary-light));
            }
            &--active {
                background-color: hsl(var(--primary));
            }
        }
    }

    &__selector {
        justify-self: stretch;
    }


    &__top-tier {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;
        gap: 1.5em;
        &__item {
            text-align: center;
            grid-row: 1;
            padding: 1.5em;
            border-radius: var(--radius);
            text-transform: uppercase;

            &__tier{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .5em;
                font-size: 1.8em;
                font-weight: 700;
                margin-bottom: .5em;

                .fi {
                    display: flex;
                    font-size: 1.2em;
                }
            }

            &__score {
                font-size: 1.2em;
                font-weight: 600;
            }

            &:nth-child(1) {
                grid-column: 2;
                background: linear-gradient(to left, hsl(var(--highlight)), hsl(36.69deg 95.28% 50.2%));
                box-shadow: 0 5px 30px 10px hsl(var(--highlight)/.3);
            }
            &:nth-child(2) {
                grid-column: 1;
                background-color: hsl(12deg 2.42% 59.41%);
            }
            &:nth-child(3) {
                grid-column: 3;
                background-color: hsl(19.32deg 61.86% 53.73%);
            }
        }
        
        @media screen and (max-width: 613px) {
            grid-template-columns: 1fr 1fr;
            &__item {
                &:nth-child(1) {
                    grid-row: 1;
                    grid-column: span 2;
                }
                &:nth-child(2) {
                    grid-row: 2;
                    grid-column: 1;
                }
                &:nth-child(3) {
                    grid-row: 2;
                    grid-column: 2;
                }
            }
        }
    }

    &__tier {
        border-collapse: separate;
        border-spacing: 0 1em;

        &__head {

        }

        &__body {
            text-align: center;
            tr {
                border-radius: var(--radius);
                border: 0;
                &:last-child {
                    margin-bottom: 1em;
                }
                td {
                    background-color: hsl(var(--table-data-background));
                    padding: .7em;
                    border: 0;
                    &:first-child { //add border-radius to corners
                        border-top-left-radius: var(--radius);
                        border-bottom-left-radius: var(--radius);
                    }
                    &:last-child { //add border-radius to corners
                        border-top-right-radius: var(--radius);
                        border-bottom-right-radius: var(--radius);
                    }
                }
                &.highlight { 
                    td{
                        background-color: hsl(var(--table-data-highlight));
                    }
                }
            }
        }

        &__footer {
            position: relative;
            z-index: 1;
            tr {
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 12em;
                    border-radius: var(--radius);
                    background: linear-gradient(to top, hsl(var(--table-footer-loadmore-fade-color)), transparent 100%);
                    pointer-events: none;
                }
            }
            td {
                background-color: hsl(var(--table-data-background));
                border-radius: var(--radius);
                padding: .7em;
                text-align: center;
                span {
                    filter: blur(3px);
                }
            }

            &__load-more {
                display: block;
                position: relative;
                color: hsl(var(--primary-light));
                background-color: transparent;
                font-weight: 600;
                margin: 0 auto;
                border: 0;
                z-index: 1;
                transition: color 150ms ease-in-out;
                &:hover {
                    color: hsl(var(--primary-light-hover));
                }
                &:active {
                    color: hsl(var(--primary));
                    transition: color ease-out 100ms;
                }
            }

        }
    }
    &__controls {
        display: flex;
        justify-content: end;
        @media screen and (max-width: 740px) {
            justify-content: center;
        }
    }
}

//animations

.rank {
    &__header {
        opacity: 0;
        animation: slideUp 500ms ease-out forwards;
    }

    &__period {
        &__item {
            opacity: 0;
            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    animation: slideUp 500ms ease-out #{$i * 50}ms forwards;
                }
            }
        }
    }

    &__selector {
        opacity: 0;
        animation: slideUp 500ms ease-out 200ms forwards;
    }

    &__top-tier {
        &__item:not(.loaded) {
            opacity: 0;
            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    animation: slideUp 400ms ease-out #{100 + ($i * 50)}ms forwards;
                }
            }
        }
    }

    &__tier {
        opacity: 0;
        --slideUp: 3em;
        animation: slideUp 500ms ease-out 200ms forwards;
    }

    &__controls {
        opacity: 0;
        animation: slideUp 500ms ease-out 200ms forwards;
    }
}