<div class="rank">
    <div class="rank__header">
        <h1 data-title="Ranking Top Killers">Ranking Dos <span>Top Killers</span> Experience Life</h1>
    </div>
    <div class="rank__options">
        <div class="rank__period">
            <button class="rank__period__item rank__period__item--active">
                Ranking Geral
            </button>
            <button class="rank__period__item">
                Ranking Semanal
            </button>
            <button class="rank__period__item">
                Ranking Mensal
            </button>
        </div>
        <div class="rank__selector">
            <app-dropdown-selection
            name="Selecionar ranking"
            [items]="ranks"
            (clickedItem)="onRankSelected($event)"
            />
        </div>
    </div>
    @if(false) {
        
        <div class="rank__top-tier">
            <div class="rank__top-tier__item">
                <div class="rank__top-tier__item__tier">
                    <i class="fi fi-ss-trophy-star"></i>
                    <span>1</span>
                </div>
                <div class="rank__top-tier__item__player">
                    <span>Jeckwilke_Moreira</span>
                </div>
                <div class="rank__top-tier__item__score">
                    <span>1500</span>
                </div>
            </div>
            <div class="rank__top-tier__item">
                <div class="rank__top-tier__item__tier">
                    <span>2</span>
                </div>
                <div class="rank__top-tier__item__player">
                    <span>Jeckwilke_Moreira</span>
                </div>
                <div class="rank__top-tier__item__score">
                    <span>1500</span>
                </div>
            </div>
            <div class="rank__top-tier__item">
                <div class="rank__top-tier__item__tier">
                    <span>3</span>
                </div>
                <div class="rank__top-tier__item__player">
                    <span>Jeckwilke_Moreira</span>
                </div>
                <div class="rank__top-tier__item__score">
                    <span>1500</span>
                </div>
            </div>
        </div>
    }
    <table class="rank__tier">
        <thead class="rank__tier__head">
            <tr>
                <th>Posição</th>
                <th>Jogador</th>
                <th>Pontos</th>
            </tr>
        </thead>
        <tbody class="rank__tier__body">
            @for (item of rankPlayers; track $index) {
                <tr>
                    <td>{{item}}</td>
                    <td>Jeckwilke_Moreira</td>
                    <td>1500</td>
                </tr>
            }
        </tbody>
        <!-- load-more footer -->
         @if (false) {
             <tfoot class="rank__tier__footer">
                 <tr>
                     <td>
                         <span>##</span>
                     </td>
                     <td>
                         <button class="rank__tier__footer__load-more">
                             Carregar Mais
                         </button>
                     </td>
                     <td>
                         <span>####</span>
                     </td>
                 </tr>
             </tfoot>
         }
    </table>
    <div class="rank__controls">
        <app-paginator></app-paginator>
    </div>
</div>