<div class="rank">
    <div class="rank__top-tier">
        <div class="rank__top-tier__item">
            <div class="rank__top-tier__item__tier">
                <span>1</span>
            </div>
            <div class="rank__top-tier__item__player">
                <span>Jeckwilke_Moreira</span>
            </div>
            <div class="rank__top-tier__item__score">
                <span>1500</span>
            </div>
        </div>
        <div class="rank__top-tier__item">
            <div class="rank__top-tier__item__tier">
                <span>2</span>
            </div>
            <div class="rank__top-tier__item__player">
                <span>Jeckwilke_Moreira</span>
            </div>
            <div class="rank__top-tier__item__score">
                <span>1500</span>
            </div>
        </div>
        <div class="rank__top-tier__item">
            <div class="rank__top-tier__item__tier">
                <span>3</span>
            </div>
            <div class="rank__top-tier__item__player">
                <span>Jeckwilke_Moreira</span>
            </div>
            <div class="rank__top-tier__item__score">
                <span>1500</span>
            </div>
        </div>
    </div>
</div>