<div class="rank">
    <div class="rank__header">
        <h1 data-title="Ranking Top Killers">Ranking Dos <span>Top Killers</span> Experience Life</h1>
    </div>
    <div class="rank__options">
        <div class="rank__period">
            <button class="rank__period__item rank__period__item--active">
                <span>Ranking Geral</span>
            </button>
            <button class="rank__period__item">
                <span>Ranking Semanal</span>
            </button>
            <button class="rank__period__item">
                <span>Ranking Mensal</span>
            </button>
        </div>
        <div class="rank__selector">
            <app-dropdown-selection
            name="Selecionar ranking"
            [items]="ranks"
            (clickedItem)="onRankSelected($event)"
            />
        </div>
    </div>
    <div class="rank__top-tier">
        <div class="rank__top-tier__item">
            <div class="rank__top-tier__item__tier">
                <span>1</span>
            </div>
            <div class="rank__top-tier__item__player">
                <span>Jeckwilke_Moreira</span>
            </div>
            <div class="rank__top-tier__item__score">
                <span>1500</span>
            </div>
        </div>
        <div class="rank__top-tier__item">
            <div class="rank__top-tier__item__tier">
                <span>2</span>
            </div>
            <div class="rank__top-tier__item__player">
                <span>Jeckwilke_Moreira</span>
            </div>
            <div class="rank__top-tier__item__score">
                <span>1500</span>
            </div>
        </div>
        <div class="rank__top-tier__item">
            <div class="rank__top-tier__item__tier">
                <span>3</span>
            </div>
            <div class="rank__top-tier__item__player">
                <span>Jeckwilke_Moreira</span>
            </div>
            <div class="rank__top-tier__item__score">
                <span>1500</span>
            </div>
        </div>
    </div>
    <table class="rank__tier">
        <thead class="rank__tier__head">
            <tr>
                <th>Posição</th>
                <th>Jogador</th>
                <th>Pontos</th>
            </tr>
        </thead>
        <tbody class="rank__tier__body">
            @for (item of rankPlayers; track $index) {
                <tr>
                    <td>{{item}}</td>
                    <td>Jeckwilke_Moreira</td>
                    <td>1500</td>
                </tr>
            }
        </tbody>
    </table>
</div>