<article class="store">
    @if (currentStep != 4) {
        <header class="store__header">
            <h1>Seja bem vindo(a) a nossa loja!</h1>
            <p>Compre suas Moedas Verdes agora e eleve sua experiência no servidor Brasil Experience Life! Use-as para obter status VIP,
                 Super VIP e muitos outros benefícios exclusivos dentro do jogo.</p>
        </header>
    }

    <app-purchase-data-form
    [skipFirstStep]="true"
    (currentStep)="currentStep = $event"
    />
</article>