<div class="copy-to-clipboard">
    <div class="copy-to-clipboard__wrapper">
        <span [ngStyle]="{'text-transform': transformToUppercase() ? 'uppercase' : 'none'}">
            {{value()}}
        </span>
        <i class="fi fi-rr-copy copy-to-clipboard__copy-btn"
        [cdkCopyToClipboard]="value()" (click)="handleCopyToClipboard()">
        </i>
        @if (copied) {
            <div class="copy-to-clipboard__copied-card" 
            [attr.data-direction]="direction()" @slide>
                <span>Copiado!</span>
            </div>
        }
    </div>
</div>